html {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    position: relative;

    background-color: #222831;
    color: #393E46;

    max-width: 80%;
    margin: auto;
    padding: 10px;

    color: whitesmoke;

    height: 97vh;
}

footer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;

    padding-bottom: 10px;
}

footer #ring-next {
    float: inline-end;
}

a {
    text-decoration: none;
    color: #DFD0B8;
}

.copyright { // https://stackoverflow.com/questions/2731214/html-copy-doesnt-show
    font-family: Arial, "Helvetica Neue ", Helvetica, sans-serif;
}

// About me Scroll Start 

// .class-88x31s a {
//     margin: 15px;
// }

// .marquee-container {
//     display: flex;
//     width: 100%;
//     white-space: nowrap;
//     overflow: hidden;
// }

.marquee-boss {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.marquee-row-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    width: max-content;
}

.marquee-content { // https://dev.to/ryandsouza13/creating-the-classic-marquee-effect-without-the-marquee-tag-4246
    display: flex;
    align-items: center;

    // overflow: hidden;

    // animation: marquee-animation 7s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    animation: marquee-animation 15s linear infinite;
    animation-delay: calc(sibling-index() * 100ms);
}

.marquee-content a {
    margin: 10px;
}

.marquee-row-container:has(a:hover) .marquee-content {
    animation-play-state: paused;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

// About me Scroll End 

#topnav {
    background-color: #393E46;
    overflow: hidden;

    height: fit-content;
    padding: 1rem 0;
}

#topnav ui {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;

    display: flex;
    flex-direction: row;

    gap: 15px;
}

#topnav li {
    // display: inline;
    width: fit-content;
    padding: 5px 7px;

    // float: right;
}

// #topnav li.left {
//     margin-left: 1%;
// }

#topnav a {
    font-size: 23px;
    color: #f5f5f5;

    text-decoration: none;
}

#topnav a:hover {
    color: #DFD0B8;
}

#topnav a.current {
    color: aqua;
}